body
{
  background-color: #008891;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23008891' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2300768a' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23006481' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23005376' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23004168' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%230f3057' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  
}
.app__container
{
  display: flex !important;
  flex-direction: column !important;
  height: 100vh !important;
}
h4, .app__title
{
  color : white;
}

.app__logo
{
  color : #dddddd;
}

.app__header
{
  text-align: center;

}
.app__form
{
  background: #f1f6f9;

  border-radius: 20px;
  position: fixed;
  bottom: 0;
  height: 10vh !important;
  width: 100vw; 
  z-index: 0 !important;
  flex : 0.1 !important;

}

.app__message
{
  height: 80vh !important;
  flex : 0.8 !important;
}

.app__formControl
{

  display : flex !important;
  flex-direction: row !important;
  margin : 10px !important;


}

.app__input
  {
    flex: 1;
    height: 5vh !important;
  }

  .app__iconButton
  {
    flex : 0;
    

  }

  .modal__formControl{
    vertical-align: auto;
    width: 100%;
  }

 
 .modal__header
 {
   background: linear-gradient(#D3CCE3,#E9E4F0);
 }