.message
    {

        padding : 20px;
        margin : 10px;
        width : fit-content;
        
    }

.message__user
    {
        margin-left: auto;
        color : whitesmoke !important;
        text-align: right ! important;
        background: #12947f!important;

    }
.message__guest
    {
        background: #0f3057 !important;
        color : whitesmoke !important;

    }

    .message__username
    {
        font-size: 0.9rem;
        /* margin-left : 15px; */
      
    }
    .message__datetime{
        font-size: 0.8rem;
        color: whitesmoke;
        margin-right: auto;
    }
    .MuiCardContent-root
    {
        padding : 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }